#container {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 0, 255, 50%);
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: blue;
}
button:active {
  background-color: rgb(0, 0, 180);
  color: white;
}
input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}
img {
  max-width: 30px;
  padding: 1px;
}
