/* .container {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(104, 220, 255);
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(82, 210, 249);
}
button:active {
  background-color: rgb(60, 210, 255);
  color: white;
}
label {
  font-size: 2rem;
  width: 150px;
}
input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

#diceResult {
  font-size: 2rem;
}
img {
  max-width: 150px;
  margin: 5px;
} */

/* .box {
  border: 3px solid;
  width: 100%;
  height: 125px;
} */
#fruits {
  border: 3px solid;
  font-size: 2rem;
}
