body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3.5rem;
  color: black;
}
.valikud {
  margin-bottom: 30px;
}
.valikud button {
  font-size: 4.5rem;
  min-width: 160px;
  margin: 0 10px;
  border-radius: 250px;
  background-color: hsl(200, 100%, 50%);
  cursor: pointer;
  transition: backgroud-color 0.5s ease;
}
.valikud button:hover {
  background-color: hsl(200, 100%, 70%);
}
#mängijaKuva,
#arvutiKuva {
  font-size: 2.5rem;
}
#tulemuseKuva {
  font-size: 5rem;
  margin: 30px 0;
}

.skooriKuva {
  font-size: 2rem;
}

.roheline,
#mängijaSkoor {
  color: green;
}
.punane,
#arvutiSkoor {
  color: red;
}
